{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>Location</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.street }} {{ entity.suiteAptNo }} {{ entity.city }}, {{ entity.state }}{{ entity.zip }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
            Show all locations
        </a>
    </li>
    <li>
        <a href="{{ path('location_edit', { 'id': entity.id }) }}">
            Edit location
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
