{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>Trip list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Trip Date/Time</th>
                <th>Locations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.tripDate|date('F d, Y h:i a') }}</td>
                <td>
                    {% for location in entity.locations %}
                        {{ location.title }}{% if not loop.last %},{% endif %} 
                    {% endfor %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('trip_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('trip_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trip_new') }}">
                Log another trip
            </a>
        </li>
    </ul>
    {% endblock %}
