{% extends 'SupraMileageBundle::layout.html.twig' %}

{% block content -%}

    <h1>Trip Details</h1>

    <table class="record_properties">
        <tbody>
            {% if entity.travelTime is not null %} 
            <tr>
                <th>Travel Time</th>
                <td>{{ entity.travelTime }}</td>
            </tr>
            {% endif %}
            {% if entity.mileage is not null %} 
            <tr>
                <th>Mileage</th>
                <td>{{ entity.mileage }}</td>
            </tr>
            {% endif %}
            {% if entity.tripDate is not null %}
            <tr>
                <th>Trip Date/Time</th>
                <td>{{ entity.tripDate|date('F d, Y h:i a') }}</td>
            </tr>
            {% endif %}
            {% if entity.createdAt is not null %}
            <tr>
                <th>Entry Created</th>
                <td>{{ entity.createdAt|date('F d, Y h:i a') }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Travel Locations</th>
                <td>

                    {% for location in entity.locations %}

                    <li>
                        {{ location.title }}
                    </li>

                    {% endfor %}

                </td>

            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('trip') }}">
            Show all trips
        </a>
    </li>
    <li>
        <a href="{{ path('trip_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
